{% extends "LibuBundle::libu/base.html.twig" %}

{#    {% form_theme form 'bootstrap_3_layout.html.twig' %}   #}

{% block body %}

<style type="text/css">

.card {
    font-size: 1.2em;
    overflow: hidden;
    margin-top: 10px;    
    padding: 20px;
    border: none;
    border-radius: 1.5rem;       
    background-color: #c5f5f0; 
}

.card-block {
    font-size: 1em;
    color: white;
    position: relative;
    margin-top: 10px;
    padding: 1em;
    border: solid black 0px;
    border-radius: 1.5rem;    
    background-color: #207068
}

.card-title {
    font-weight: 700;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #c5f5f0;
}

.card-atencion {
    color: red;
    font-style: bold;
}

</style>


<div class="col-sm-9 col-md-6 col-lg-6 mt-4">
    <h2>Pedidos</h2>

    {% if numpedidos > 0 %}

        Numero de pedidos: {{ numpedidos }} <br>

        {% for numped, pedido in datospedido %}

        <div class="card card-inverse card-info">
            <div class="card-header">

                <h3 class="card-title">Pedido {{ pedido.idpedido }}</h3>

                {% if pedido.purchaseMethod != 'CC' %}
                    <p class="card-atencion">ATENCIÓN: LIBRO NO COBRADO AUTOMÁTICAMENTE<br></p>
                {% endif %}

                Comprador/a: {{ pedido.comprador.name }}
                <p>Email: {{ pedido.direccionmail }}</p>
                {% if pedido.comprador.country != 'Spain' %}
                    <p class="card-atencion">ATENCIÓN: LIBRO COMPRADO DESDE EL EXTRANJERO</p>
                {% endif %}

                {#  <br><strong>En el pedido hay {{ pedido.numlibrospedido }} libro/s</strong>  #}
            </div>

            {% for numlib, libro in pedido.libro %}

                <div class="card-block">
                    <h3 class="card-title">{{ libro.title }}</h3>
                    <h4>{{ libro.author }}</h4>
                    <br>Identificador del libro: {{ libro.vendorKey }}
                    <br>ISBN: {{ libro.isbn }}

                {% if libro.codigo is defined %}

                    <br>Precio: {{ libro.precio }}
                    <br>Estantería: {{ libro.estanteria }}
                    <br>Balda: {{ libro.balda }}
                    <br>Código: {{ libro.codigo }}

                </div>

                <div class="card-footer">
                    <br><a href="{{ path('delete_abebooks', {'id': libro.vendorKey, 'order': libro.orden }) }}" target="_blank"  class="btn btn-info" role="button" >Subir</a>   
                    {# <br><a href='https://www.abebooks.com/servlet/OrderUpdate?abepoid= {{ libro.orden }}' target="_blank"  class="btn btn-info btn-lg" role="button">Vender en Abebooks</a> #}
                </div>

            </div>

            {% else  %}

                <br><strong>No se ha encontrado un libro con referencia {{ libro.vendorKey }}.
                <br>No se puede proceder a la venta. 
                <br>Hacer cambios desde Abebooks y avisar al administrador de Trinity </strong>
                <br>
            </div>  

            {% endif %}

            {% endfor %}
</div>
<p>&nbsp;</p>
        {% endfor %}

    {% else %}

        <br>No hay ningún pedido

    {% endif %}

</div>


{% endblock %}   