{% extends "LibuBundle::libu/base.html.twig" %}

{#    {% form_theme form 'bootstrap_3_layout.html.twig' %}   #}

{% block body %}

<script type="text/javascript">

var eventoControlado = false;

window.onload = function() { 
        document.onkeypress = mostrarInformacionCaracter;

}

function mostrarInformacionCaracter(evObject) {

                var msgtapa = libro_corto_tapas.getAttribute( "value" );
                var msgest = libro_corto_conservacion.getAttribute( "value");
                var elCaracter = String.fromCharCode(evObject.which);

                if (evObject.which!=0 && evObject.which!=13) {

                        if (elCaracter == 'b') msgtapa = 'Tapa blanda';

                        if (elCaracter == 'd') msgtapa = 'Tapa dura'; 

                        if (elCaracter == 'q') msgest = 'Nuevo';                        

                        if (elCaracter == 'w') msgest = 'Como nuevo';

                        if (elCaracter == 'e') msgest = 'Excelente'; 

                        if (elCaracter == 'r') msgest = 'Muy Bien'; 

                        if (elCaracter == 't') msgest = 'Bien';

                        if (elCaracter == 'y') msgest = 'Aceptable';

                        if (elCaracter == 'u') msgest = 'Regular';

                        if (elCaracter == 'i') msgest = 'Pobre';                                                               

                        libro_corto_tapas.setAttribute( "value", msgtapa ); 
                        libro_corto_conservacion.setAttribute( "value", msgest ); 
                }

                if (evObject.which==13) {
                        document.getElementById("nuevolibro").submit();
                }

                eventoControlado=true;

}



</script>

<div id="texto_inicial">
    {{ texto }}
</div>

<div id="cabecera"><h2>Nuevo libro: </h2></div>

{{ form_start(form) }}
    {{ form_errors(form) }}

        {{ form_row(form.codigo) }} 

        {{ form_row(form.tapas) }}    
     
        {{ form_row(form.estanteria) }}    

        {{ form_row(form.balda) }}

        {{ form_row(form.conservacion) }}                         

        {{ form_row(form.isbn) }}

{{ form_end(form) }}


<div id="control"> </div>


{% endblock %}   