{% extends "LibuBundle::libu/base.html.twig" %}
{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="clearfix">
		{% if texto_previo is defined %}
			{{ texto_previo | raw}}
		{% endif %}


{#   {{ form_start(form) }}   #}
		{% if lista is defined %}

			{% for key, item in choices %}
		      	  {#   {{ form_widget(form.choice1[key]) }}  #} {{ lista[item] | raw}}			
	      	{% endfor %}      	      
		{% endif %}
{#   {{ form_end(form) }}  #}


		{% if tabla is defined %}
			<table class="table table-striped">
			  <thead>
			    <tr>
			    	{% for cabecera in tabla.cabecera_array %}
			      		<th> {{ cabecera }}</th>
		      		{% endfor %}
			    </tr>
			  </thead>
			  <tbody>

			  	{% for linea in tabla.contenido %}
			    <tr>
	  				<td>
	  					{{ form_row(form) }}
		    		</td>
			    	{% for item in linea %}
			      		<td>{{ item }}</td>
		      		{% endfor %}
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		{% endif%}


		<div class = 'formulario'>
			<div class = 'col-sm-3 form'>
		        {{ form(form) }}
		    </div>
	    </div>
    </div>
{% endblock %}