{% extends "LibuBundle::libu/base.html.twig" %}
{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

{% block body %}
    <div class = 'col-sm-12 form-inline'>
    	<h1>Caja mensual</h1>
    	<h3><br>Mes: {{ fecha  }}</h3>

    	<table class='table table-striped table-condensed'>
    		<thead>
    			<tr>
    				<th>Día</th><th>Hora</th><th>Ingreso</th><th>Libros</th><th>Productos</th><th>Lista prods.</th>
				</tr>
			</thead>
			<tbody>
		    {% for vent in ventasdia %}
		    	<tr>
		        	<td>{{ vent['hora'] | localizeddate('short', 'none', app.request.locale ) }}</td>		    	
		        	<td>{{ vent['hora'] | localizeddate('none', 'short', app.request.locale ) }}</td>
		        	<td>{{ vent['ingreso'] }} euros</td>
		        	<td>{{ vent['sumalibros'] }} euros</td>
		        	<td>{{ vent['sumaprods'] }} euros </td>
		        	<td>
		        		{% for pv in vent['prodvendidos'] %}
		        			<div class='txiki'>
		        				{{ pv.cantidad }} {{ pv.idProd.codigo }}<br>
	        				</div>
		        		{% endfor %}

		        	</td>
	        	</tr>
		    {% endfor %}
		    <tr><td><b> Total:</b></td><td></td><td><b>{{ ingrmes }} euros</b></td><td><b>{{ ingrlibros }} euros</b></td><td><b>{{ ingrprods }} euros</b></td><td></td><td></tr>
			</tbody>
		</table>

	    {{ form_start(form) }}
        <div>

            {{ form_label(form.fecha) }}
            {{ form_widget(form.fecha) }}
        </div>
        <p>&nbsp;</p>

        <div>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <p>&nbsp;</p>

        <div>
            {{ form_widget(form.menu, {'attr': {'class':'btn btn-danger .btn-block  btn-lg'}} ) }}
        </div>
	    {{ form_row(form._token) }}
	    {{ form_end(form)}}        
    </div>

{% endblock %}