{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}


<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/css/bootstrap-theme.css') }}"  />
<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/js/bootstrap.min.js') }}"  />
<script src="{{ asset('bundles/libu/jquery/src/jquery.js') }}"></script>  


<div class='container-fluid'>
    <div class = 'col-sm-12 form-inline'>
    	<h1>Caja</h1>
    	<h3><br>Día: {{ fecha | localizeddate('full', 'none', app.request.locale )}}</h3>

    	<table class='table table-striped table-condensed'>
    		<thead>
    			<tr>
    				<th>Hora</th><th>Ingreso</th><th>Libros</th><th>Productos</th><th>Cliente</th><th>Lista prods.</th>
				</tr>
			</thead>
			<tbody>
		    {% for vent in ventasdia %}
		    	<tr>
		        	<td>{{ vent['hora'] | localizeddate('none', 'short', app.request.locale ) }}</td>
		        	<td>{{ vent['ingreso'] }} euros</td>
		        	<td>{{ vent['sumalibros'] }} euros</td>
		        	<td>{{ vent['sumaprods'] }} euros </td>
		        	<td>{{ vent['cliente'] }} </td>
		        	<td>
		        		{% for pv in vent['prodvendidos'] %}
		        			<div class='txiki'>
		        				{{ pv.cantidad }} {{ pv.idProd.codigo }}<br>
	        				</div>
		        		{% endfor %}

		        	</td>
	        	</tr>
		    {% endfor %}
		    <tr><td><b> Total:</b></td><td><b>{{ ingrdia }} euros</b></td></td><td></td><td></td><td></td><td></tr>
			</tbody>
		</table>

	    {{ form_start(form) }}
        <div>
            {{ form_errors(form.diasventas) }}
            {{ form_widget(form.diasventas) }}

            {{ form_label(form.fecha) }}
            {{ form_widget(form.fecha) }}
        </div>
        <p>&nbsp;</p>
        <div>
            {{ form_widget(form.menu, {'attr': {'class':'btn btn-danger .btn-block  btn-lg'}} ) }}
        </div>
	    {{ form_row(form._token) }}
	    {{ form_end(form)}}        
    </div>
</div>