{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

<link rel="stylesheet" href="{{ asset('bundles/libu/css/bootstrap.min.css') }}"  />

<script src="{{ asset('bundles/libu/js/jquery-1-12.min.js') }}"></script>   
<script src="{{ asset('bundles/libu/js/bootstrap.min.js') }}"></script>

<div class='container'>
    <div class = 'col-sm-4 form-inline'>
    	{{ texto | raw }}
        {{ form(form) }}
    </div>
</div>