{% extends "LibuBundle::libu/base.html.twig" %}
{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
	<div 'col-sm-12'>
		<div class = 'formulario'>
		    <div class='formulario_links'>
			    <a href= "{{ path('producto')}}">Nuevo producto</a>
			    <a href= "{{ path('tipo')}}">Nuevo tipo</a>   
		    </div>	
			<p>&nbsp;</p>
			<h1>{{ titulo }}</h1>
			<p>&nbsp;</p>
			<div class = 'col-sm-3 form cuerpo_form'>
		        {{ form(form) }}
				<a href= "{{ path('venta')}}">Volver a venta</a>
		    </div>
			<hr>

		</div>
    </div>
{% endblock %}