{% extends "LibuBundle::libu/base.html.twig" %}
{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class = 'col-izda col-sm-3 form-inline'> 
        <br>
        <div class="clearfix">

            {% set botonfield = [ 
                {'nombre': 'libros3', 'label':'Libros a 3 euros', 'precio': '3'}, 
                {'nombre': 'libros1', 'label':'Libros a 1 euro', 'precio': '1' } 
                ] %}
            <div class="divimporte">
                Importe: <span id="importe">0</span> euros
            </div>

            {% for botonf in botonfield %}
                <div class="form_libro">
                    <div class='img_boton'>
                        <img src='{{ asset('bundles/libu/images/images/' ~ botonf.nombre ~ '.png') }}'  />
                    </div>   
                    <div class="labelinput">      
                        <div class="label_venta">
                            <label class="control-label" for="venta_libros3">{{ botonf.label }}: </label>        
                        </div>
                        <div class="input_botones">
                            <div>
                                <button type='button' class="btn btn-libu btn-primary qtyminus" 
                                        value='{{ botonf.precio }}' field= '{{ botonf.nombre }}' />
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>  
                                <input type="text" id="venta_{{ botonf.nombre }}" name="venta[{{ botonf.nombre }}]" 
                                        style="width: 80px; height: 54px; font-size: 24px" class="form-control" value=0 />
                                <button type='button' value='{{ botonf.precio }}'  class="btn btn-libu btn-primary qtyplus" 
                                        field='{{ botonf.nombre }}' />
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
                        
            <div>
                <div class = 'col-sm-6 label_venta'>
                    {{ form_label(form.tematica) }}:
                </div>
                {{ form_errors(form.tematica) }}
                {{ form_widget(form.tematica) }}
            </div>

            <hr>

            <div>
                <div class = 'col-sm-6 label_venta'>                        
                    {{ form_label(form.cliente) }}:
                </div>
                {{ form_errors(form.cliente) }}
                {{ form_widget(form.cliente) }}
            </div>

            <hr>

            <div class='diahora'>
                <div class='col-sm-6 label_venta'>
                    {{ form_label(form.diahora) }}
                </div>
                {{ form_errors(form.diahora) }}
                {{ form_widget(form.diahora)  }}
            </div>  

            <br>
          
            <hr>

            <div >
                {{ form_widget(form.save, {'attr': {'class':'btn btn-danger .btn-block  btn-lg'}}) }}
                {{ form_widget(form.menu) }}                
            </div>
        </div>
    </div>

    <div class = 'col-dcha col-sm-9 form-inline'> 
        <br>   

        <div class='boton1'>
            <button class="boton-grande btn btn-primary" type="button" data-toggle="collapse" data-target="#col-productos" aria-expanded="true" aria-controls="col-productos">
              Otros productos
            </button>
        </div>
        <div id = 'col-productos' class = 'col-sm-12 form-inline collapse'>
    <!--        <h4 class=""><i class="icon-plus-sign-alt"></i>Otros productos</h4>    -->

            <div class="clearfix"></div>
                    {{ form_label(form.product) }}
                    {{ form_errors(form.product) }}
                    <div class=''>                
                        <div class='col-sm-12'>
                            <div class="form_producto">

                                {% set numcolum = 4 %}
                                {% set tope = prodguztiak|length %} 
                                {% set columprod = 7 %}                                
                                {% for i in 0..(numcolum - 1) %}
                                    <div class='col-sm-3 col_producto'>
                                        {% for key in (i * columprod) .. ((i*columprod) + columprod -1 )  %}   
                                            {% if key < tope %}
                                            <div class="productitem"> 
                                                <div class='col-sm-12 label_producto'>
                                                    <label class="control-label required" for="venta_product_{{ key }}">{{ prodguztiak[key].codigo }}</label>
                                                     - <span id='precio_{{ key }}'>{{ prodguztiak[key].precio }}</span> €
                                                </div>
                                                <div class="input_botones">
                                                    <div>
                                                        <span id='datos_{{ key }}' data-precio='{{ prodguztiak[key].precio }}'></span>
                                                        <button type='button' value='{{ key }}'  class="btn btn-libu qtyprminus" field='{{ prodguztiak[key].codigo }}' data-key='{{ key }}'/>
                                                            <span class="glyphicon glyphicon-minus"></span>
                                                        </button>

                                                        <input  id="venta_product_{{ key }}" name="venta[product][{{ key }}]" required="required" style="width: 60px" class="form-control" value="0" />

                                                        <button type='button' value='{{ key }}'  class="btn btn-libu qtyprplus" field='{{ prodguztiak[key].codigo }}' data-key='{{ key }}'/>
                                                            <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class = 'col-sm-6 form-inline'>
                    <div class="clearfix"></div>

            </div>
        </div>
    </div>

        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false})}}

{% endblock %}