{% extends "LibuBundle::libu/base.html.twig" %}

{#    {% form_theme form 'bootstrap_3_layout.html.twig' %}   #}

{% block body %}
    <div 'col-sm-12'>
        <div class = 'formulario'>  
            <h3>{{ mensaje }}</h3>
            <p>&nbsp;</p>
            <h1>{{ titulo }}</h1>
            <p>&nbsp;</p>
            <div class = 'col-sm-6'>
                    {{form_start(form, { 'enctype':"multipart/form-data"})}}
                    {{form_end(form)}}   
                <a href= "{{ path('venta')}}">Volver a venta</a>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}