{# libu/Resources/views/libu/venta.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}


<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/css/bootstrap.min.css') }}"  />
<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/css/bootstrap-theme.css') }}"  />
<link rel="stylesheet" href="{{ asset('bundles/libu/bootstrap/dist/js/bootstrap.min.js') }}"  />
<script src="{{ asset('bundles/libu/jquery/src/jquery.js') }}"></script>  


<!-- Inline CSS based on choices in "Settings" tab -->
<style TYPE="text/css">
    .asteriskField{color: red;}
    .elemento {
        border:0px solid black; 
        border-radius: 5px;
        line-height:40px;
        font-size: 1.8em;
        background-color: #ccc;
    }
    .elemento-opc {
        border:0px solid black; 
        border-radius: 5px;
        line-height:60px;
        font-size: 1.8em;
        background-color: #afc;
    }
    .radio-toolbar input[type="radio"] {
        display:none;
    }

    .radio-toolbar label {
        display:inline-block;
        background-color:#afc;
        padding-right: 50px;
        border-radius: 20px;
        line-height:60px;
        font-size: 1.8em;
    }

    .radio-toolbar input[type="radio"]:checked + label {
        background-color:#bbb;
    }

    .radio-toolbar-num input[type="radio"] {
        display:none;
    }

    .radio-toolbar-num label {
        display:inline-block;
        background-color:#bfc;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 5px;
        line-height:60px;
        font-size: 1.8em;
    }

    .radio-toolbar-num input[type="radio"]:checked + label {
        background-color:#bbb;
    }
</style>

{{ form_start(form) }}
    {{ form_errors(form) }}



		<div class="row">
            <div class="form-group" id="div_cantidad">
                <label class="control-label requiredField" for="cantidad">
                    <h3>&nbsp;&nbsp;Tazas:</h3>
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <div  id="venta_cantidad">                    
                    <div class="radio-toolbar-num" >

                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_1" name="venta[cantidad]" value="1" checked>
                                <label for="venta_cantidad_1">1</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_2" name="venta[cantidad]" value="2" checked>
                                <label for="venta_cantidad_2">2</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">                        
                                <input type="radio" id="venta_cantidad_3" name="venta[cantidad]" value="3" checked>
                                <label for="venta_cantidad_3">3</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_4" name="venta[cantidad]" value="4" checked>
                                <label for="venta_cantidad_4">4</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_5" name="venta[cantidad]" value="5" checked>
                                <label for="venta_cantidad_5">5</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_6" name="venta[cantidad]" value="6" checked>
                                <label for="venta_cantidad_6">6</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_7" name="venta[cantidad]" value="7" checked>
                                <label for="venta_cantidad_7">7</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_8" name="venta[cantidad]" value="8" checked>
                                <label for="venta_cantidad_8">8</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_9" name="venta[cantidad]" value="9" checked>
                                <label for="venta_cantidad_9">9</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_10" name="venta[cantidad]" value="10" checked>
                                <label for="venta_cantidad_10">10</label>
                            </div>
                        </div>
                    </div>  
                </div>
                <!-- <label class="col-md-2 col-xs-4 col-sm-4" class="control-label " for="Otra:">
                    Otra cantidad:
                    <input class="form-control" id="Otra" name="Otra" type="text"/>  
                </label>   -->
            
            </div>
        {{ form_row(form._token) }}
    </div>



        <div class="row">
            <div class="form-group" id="div_cantidad">
                <label class="control-label requiredField" for="cantidad">
                    <h3>&nbsp;&nbsp;Cuero:</h3>
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <div  id="venta_cantidad">                    
                    <div class="radio-toolbar-num" >

                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_1a" name="venta[barato]" value="1" checked>
                                <label for="venta_cantidad_1a">1</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_2a" name="venta[barato]" value="2" checked>
                                <label for="venta_cantidad_2a">2</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">                        
                                <input type="radio" id="venta_cantidad_3a" name="venta[barato]" value="3" checked>
                                <label for="venta_cantidad_3a">3</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_4a" name="venta[barato]" value="4" checked>
                                <label for="venta_cantidad_4a">4</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_5a" name="venta[barato]" value="5" checked>
                                <label for="venta_cantidad_5a">5</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_6a" name="venta[barato]" value="6" checked>
                                <label for="venta_cantidad_6a">6</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_7a" name="venta[barato]" value="7" checked>
                                <label for="venta_cantidad_7a">7</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_8a" name="venta[barato]" value="8" checked>
                                <label for="venta_cantidad_8a">8</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_9a" name="venta[barato]" value="9" checked>
                                <label for="venta_cantidad_9a">9</label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2 col-sm-1" >
                            <div class="radio">
                                <input type="radio" id="venta_cantidad_10a" name="venta[barato]" value="10" checked>
                                <label for="venta_cantidad_10a">10</label>
                            </div>
                        </div>
                    </div>  
                </div>
                <!-- <label class="col-md-2 col-xs-4 col-sm-4" class="control-label " for="Otra:">
                    Otra cantidad:
                    <input class="form-control" id="Otra" name="Otra" type="text"/>  
                </label>   -->
            
            </div>
        {{ form_row(form._token) }}
    </div>

        </div>
<p>&nbsp;</p>
<a href="{{ url('facturar') }}">
<button type="button" class="btn btn-primary"><h3>Venta</h3></button>
</a>
<a href="{{ url('muestra') }}">
<button type="button" class="btn btn-warning"><h3>Reset</h3></button>
</a>

