{% form_theme form 'bootstrap_3_layout.html.twig' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class='container'>
    <div class = 'col-sm-4 form-inline'>
<!--    	{{ form(form) }}      -->
    	{{ form_start(form) }}
    		<div id="venta">
    			<div class="form-group">
				    {{ form_label(form.libros3) }}
				    {{ form_errors(form.libros3) }}
				    {{ form_widget(form.libros3) }}
    			</div>  			
    			<div class="form-group">
    				<label class="control-label required" for="venta_libros1">Libros a 1 euro:</label>
    				<input type="number" id="venta_libros1" name="venta[libros1]" required="required" class="form-control" value="0" />
    			</div>
    			<div class="form-group">
    				<label class="control-label required" for="venta_cliente">Cliente</label>
    				<select id="venta_cliente" name="venta[cliente]" class="form-control">            
    					<option value="1" >Mujer</option>            
    					<option value="2" >Hombre</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label class="control-label required" for="venta_tematica">Temática</label>
    				<select id="venta_tematica" name="venta[tematica]" class="form-control">            
    					<option value="1" >Novela</option>            
    					<option value="2" >Tema</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label class="control-label required" for="venta_responsable">Responsable</label>
    				<select id="venta_responsable" name="venta[responsable]" class="form-control">            
    					<option value="1" >Geri</option>            
    					<option value="2" >María</option>            
    					<option value="3" >Serge</option>
    				</select>
    			</div>
    			<div class="form-group">
    				<label class="control-label required"> </label>
    				<div id="venta_product">
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_Taza1">Taza1</label>
    						<input type="number" id="venta_product_Taza1" name="venta[product][Taza1]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_Taza2">Taza2</label>
    						<input type="number" id="venta_product_Taza2" name="venta[product][Taza2]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_Taza3">Taza3</label>
    						<input type="number" id="venta_product_Taza3" name="venta[product][Taza3]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_Pulsera">Pulsera</label>
    						<input type="number" id="venta_product_Pulsera" name="venta[product][Pulsera]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_Taza5">Taza5</label>
    						<input type="number" id="venta_product_Taza5" name="venta[product][Taza5]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_Bolso">Bolso</label>
    						<input type="number" id="venta_product_Bolso" name="venta[product][Bolso]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_TazaAzul">Taza azul</label>
    						<input type="number" id="venta_product_TazaAzul" name="venta[product][TazaAzul]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_TazaMorada">Taza morada</label>
    						<input type="number" id="venta_product_TazaMorada" name="venta[product][TazaMorada]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_TazaBlanca">Taza blanca</label>
    						<input type="number" id="venta_product_TazaBlanca" name="venta[product][TazaBlanca]" required="required" class="form-control" value="0" />
    					</div>
    					<div class="form-group">
    						<label class="control-label required" for="venta_product_TazaChupi">Taza chupi</label>
    						<input type="number" id="venta_product_TazaChupi" name="venta[product][TazaChupi]" required="required" class="form-control" value="0" />
    					</div>
    				</div>
    			</div>
    			<div class="form-group">
    				<button type="submit" id="venta_save" name="venta[save]" class="btn-default btn">Venta</button>
    			</div>
    			<div class="form-group">
    				<button type="submit" id="venta_menu" name="venta[menu]" class="btn-default btn">Menú</button>
    			</div>
    			<input type="hidden" id="venta__token" name="venta[_token]" value="U2m_DQs6pDisbljFPsNTYym89jRnLY2I8OyHiDX0OuE" />
    		</div>
    	{{ form_end(form, {'render_rest': false}) }}
	</div>
</div>


