{% extends "LibuBundle::tabla/tabla_layout.html.twig" %}


    	{% block titulo %}  	
	    	<h1>Caja</h1>
	    	<h3><br>Día: {{ fecha | localizeddate('full', 'none', app.request.locale )}}</h3>
    	{% endblock %}


		{% block contenido %}
Contenido
		    {% for vent in ventasdia.ventas %}
		    	<tr>
		        	<td>{{ vent['hora'] | localizeddate('none', 'short', app.request.locale ) }}</td>
		        	<td>{{ vent['factura']}} </td>
		        	<td>{{ vent['ingreso'] }} euros</td>
		        	<td>{{ vent['ingresolibros'] |round(1,'common') }} euros</td>
		        	<td>{{ vent['ingresoprods'] |round(1,'common') }} euros </td>
		        	<td>{{ vent['tipocliente'] }} </td>
		        	<td>
		        		{% for pv in vent['prodvendidos'] %}
		        			<div class='txiki'>
		        				{{ pv.cantidad }} {{ pv.idProd.codigo }}<br>
	        				</div>
		        		{% endfor %}

		        	</td>
	        	</tr>
		    {% endfor %}

		    <tr><td><b> Total:</b></td><td><b>{{ ventasdia.ingreso }} euros</b></td><td><b>{{ ventasdia.ingresolibros }} euros </b>
		    	</td><td><b>{{ ventasdia.ingreso - ventasdia.ingresolibros }} euros</b></td><td></td><td></td></tr>
		{% endblock %}		    


		{% block formulario %}

		    {{ form_start(form) }}
	        <div>
	            {{ form_errors(form.diasventas) }}
	            {{ form_widget(form.diasventas) }}

	            {{ form_label(form.fecha) }}
	            {{ form_widget(form.fecha) }}
	        </div>
	        <p>&nbsp;</p>


	        <p>&nbsp;</p>

	        <div>
	            {{ form_widget(form.menu, {'attr': {'class':'btn btn-danger .btn-block  btn-lg'}} ) }}
	        </div>
		    {{ form_row(form._token) }}
		    {{ form_end(form)}}  

    	{% endblock %}		    
