{% extends "LibuBundle::tabla/tabla_layout.html.twig" %}

    	{% block titulo %}	
	    	<h1>Caja mensual</h1>
	    	<h3><br>Mes: {{ fecha  }}</h3>
    	{% endblock %}


		{% block contenido %}
		    {% for vent in ventasdia.ventas %}
		    	<tr>
		        	<td><a href= "{{ path('caja_fecha', { 'dia' : vent['fechalink'] }) }}">
		        		{{ vent['dia'] | localizeddate('full', 'none', app.request.locale ) }}</a></td>		    	
		        	<td>{{ vent['ingreso']  |round(1,'common') }} euros</td>
		        	<td>{{ vent['ingresolibros']  |round(1,'common') }} euros</td>
		        	<td>{{ (vent['ingreso'] - vent['ingresolibros'])  |round(1,'common') }} euros </td>
	        	</tr>
		    {% endfor %}
		    <tr><td><b> Total:</b></td><td><b>{{ ventasdia.ingreso  |round(1,'common') }} euros</b></td>
		    	<td><b>{{ ventasdia.ingresolibros  |round(1,'common') }} euros</b></td>
		    	<td><b>{{ (ventasdia.ingreso - ventasdia.ingresolibros)  |round(1,'common') }} euros</b></td><td></tr>
    	{% endblock %}


		{% block formulario %}
		    {{ form_start(form) }}
	        <div>
	            {{ form_errors(form.mesesventas) }}
	            {{ form_widget(form.mesesventas) }}
	            {{ form_label(form.fecha) }}
	            {{ form_widget(form.fecha) }}

	            {{ form_widget(form.archivo ) }}
	            
	        </div>
	        <p>&nbsp;</p>

	        <div>
	            {{ form_widget(form.menu, {'attr': {'class':'btn btn-danger .btn-block  btn-lg'}} ) }}
	        </div>
	       
		    {{ form_row(form._token) }}
		    {{ form_end(form)}}        

		{% endblock %}